<<<<<<< HEAD
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #eef2f3;
            color: #333;
        }
        h1 {
            text-align: center;
            color: #0056b3;
        }
        #data-container {
            margin: 20px auto;
            padding: 15px;
            border: 1px solid #ddd;
            background-color: #ffffff;
            max-width: 600px;
            text-align: center;
            border-radius: 8px;
        }
=======
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #eef2f3;
            color: #333;
        }
        h1 {
            text-align: center;
            color: #0056b3;
        }
        #data-container {
            margin: 20px auto;
            padding: 15px;
            border: 1px solid #ddd;
            background-color: #ffffff;
            max-width: 600px;
            text-align: center;
            border-radius: 8px;
        }
>>>>>>> ca78743599d20703ede018748886e71fa520d9c8
    